OPENAI_API_KEY =your_openai_api_key_here
SUMMARIZER_PROMPT=.......
QA_SYSTEM_PROMPT=......
JWT_SECRET_KEY=your_jwt_secret_here
DATABASE_URL=sqlite:///./podcast.db
PAYSTACK_API_KEY=your_paystack_api_key_here
